.news-heading {
    padding: 30px 0;
}
.news-heading h1 {
    font-size: 25.08px;
    font-weight: 500;
    line-height: 29.39px;
    color: var( --dim-black);
    margin-bottom: 10px;
}
.news-heading h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: var( --dim-black);
}
.news-card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.news-card {
    border: 0.85px solid var(--dim-clr-boder);
    border-radius: 12px;
    background-color: var(--dim-white);
    padding: 20px;
}
.news-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.news-img p {
font-size: 11.96px;
font-weight: 400;
line-height: 23.92px;
color: var( --dim-black);
}
.news-img p span {
    color: var(--clr-aqua-teal);
}
.news-para p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.92px;
    color: var( --dim-black);
}
.news-table {
    margin: 70px 0;
}
.news-table table{
    width: 100%;
}
.news-table table thead tr th{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: var(--dim-black);
    text-align: left;
    padding: 20px 0;
    border-bottom: 1.5px solid var(--clr-border);
}
.news-table table thead tr th:first-child{
    padding: 0 0 0 24px;
}
.news-table table thead tr th:last-child{
    padding: 0 30px 0 0;
    text-align: center;
}
.news-table table tbody tr td:nth-child(2),
.news-table table thead tr th:nth-child(2){
    text-align: center;
}
.news-table table tbody tr td:first-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: var(--dim-black);
    text-align: center;
}
.news-table table tbody tr td {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    color: var(--dim-black);
    padding: 20px 0;
    border-bottom: 1.5px solid var(--clr-border);
}
.news-table table tbody tr td span {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.92px;
    color: var(--clr-aqua-teal);
}
.news-lessthan {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 30px 50px 0 0;
}
.lessthan-heading h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--dim-black);
}
.lessthan-heading h2 span {
    padding: 2px;
}
.lessthan-image{
    display: flex;
    gap: 20px;
}
.lessthan-image img{
    cursor: pointer;
}
@media (max-width: 980px){
    .over-heading2 p{
        width: 100%;
    }
    .over-listing {
        gap: 15px;
    }
}
@media (max-width: 600px){
    .header2-content p,
    .header1 ul li{
        font-size: 10px;
    }
    .chat-list ul li a{
        font-size: 12px;
    }
    .over-card-heading h1,
    .banner-para p, .banner-content h1 {
        font-size: 14px;
    }
    .chat-list ul{
        gap: 20px;
    }
    .news-card-grid,
    .over-listing{
        grid-template-columns: repeat(1, 1fr);
    }
    .news-table table tbody tr td{
        font-size: 8px;
    }
    .news-table table tbody tr td img{
        width: 31px;
    }
    .news-table table tbody tr td span,
    .news-table table tbody tr td:first-child {
        font-size: 10px;
    }
}
@media (max-width: 415px){
    .chat-list ul{
        gap: 16px;
    }
    .header2-content p, .header1 ul li {
        font-size: 8px;
    }
    .news-page h2{
        font-size: 8px !important;
    }
}
@media (max-width: 370px) {
    .header2-content p, .header1 ul li {
        font-size: 6px;
    }
    .banner-content h2{
        font-size: 10px;
    }
    .over-card-heading h1, .banner-para p, .banner-content h1 {
        font-size: 8px;
    }
    .chat-list ul li a {
        font-size: 8px;
    }
}